<h1 class="container">{{listUser}}</h1>

<section class="container pb-3">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/blog-thumbnail-1.jpg" alt="">
        <h5 class="card-title">Nombre del User completo</h5>
        <div class="card-body">
            <a href="#" class="card-link  text-dark"> <i class="fa-solid fa-magnifying-glass"></i> Ver</a>
            <a href="#" class="card-link text-dark"> <i class="fa-sharp fa-solid fa-arrows-rotate"></i>Actulizar</a>
            <a href="#" class="card-link text-dark"><i class="fa-solid fa-trash-can  px-2"></i>Eliminar</a>
          
        </div>
      </div>
</section>

